*{
    color: white;
    font-size: 20px;
}

body{
    background-image: url(Image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tabla{
    position:absolute;
    top: 10rem;
    left:4.5rem;
}
.fil{
    padding: 10px;
    border: black 5px groove;
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    /*margin: 200px auto;*/
    border: 1px solid #ffffff40;
    /*position: absolute;*/

} 
.filter{

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter:blur(15px);
    background-color: rgba(78, 78, 78, 0.2);
}
.separar{
    border-collapse: separate;
    border-spacing: 10px 5px;
}

.espacio{
    margin-bottom: 10px;
}

.mover{
    position:absolute;
    top: 8rem;
    left: 18rem;
}

.boton{
    text-decoration: none;
    border: black 5px groove;
    border: 1px solid rgb(138, 81, 17) ;
    padding: 7px;
    border-radius: 6px;
}
input.prueba{

    background-color: rgba(75, 75, 75, 0.062);
    border: black 5px groove;
    border: 1px solid rgb(255, 255, 255) ;
}